#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 255, 1);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
