.cart{
    /* background-color: lavender; */
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(61, 59, 59, 0.555);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
#showProducts{
    /* background-color: lavender; */
    margin: 20px auto;
    padding:0 30px;
    width: 100%;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px
}
@media (max-width: 768px){
    #showProducts{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px
    }
}
@media (max-width: 576px){
    #showProducts{
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px
    }
}
.card-body{
    background-color: lavender;
}
.cartList{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
tr{
    font-size: 25px;
}
.imgCartItem{
    margin-top:10px;
    margin-right: 5px;
    width: 150px;
    height: 150px;
}